service cloud.firestore {
  match /databases/{database}/documents {
    match /objects/default/{documents=**} {
      allow read;
    }
    match objects/users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
